@font-face {
			font-family: ting;
			src: url(../SentyCreamPuff.ttf);
}

body {  
		background-color:#D4D4D4;
	 }
.pos {
		position: absolute;
		left: 55%;
		top: 50%;
	}

p   {
		font-family: ting;
	}
p h3{
		
		text-align: center; 
    }
.title{
		position: absolute;
		left: 35%;
		top: 2%;
	

}
.option{
		font-size:4vw;
		color:#FF63FF;

		}
.option:hover{
		
		border-radius:100%;
		box-shadow:0 0 20px 10px rgba(200,200,200,0.7);
		text-shadow:0px 0px 10px #fff, 0px 0px 10px #fff;
		
		color:#00B8B8	;
		font-weight:bold;
		text-align: center; 

		}

.disdraggable{
		user-drag: none; 
		user-select: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
		-webkit-user-select: none;
		-ms-user-select: none;
}
.background{
		position: absolute;
		left: 10%;
		top:0;

		height:100%;
		width:80%;
		
}
.cakeGIF{
	position: absolute;
		left: 10%;
		top:39%;
		z-index :0;

		
		height:60%;
		width:40%;
}